body {
  background-color: #03fcca;
  height: 100%;
  font-family: 'Roboto', sans-serif;
}

#container{
  margin: auto;
  width: 80%;
  background-color: black;
  border-radius: 20px;
  border: 2px solid darkgrey;
  padding: 10px; 
}

.row{
  display: flex;
  flex-direction: row;
  border: 1px yellow solid;
}

#top-row-container{
  justify-content: space-around;
}

#title{
  color: blue;
  text-align: center;
  font-size: 50px;
  padding: 0 30px;
}

#flip-info-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 2px green solid;
}

#match-window {

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 25px 0;
}

.left-side{
  width: 450px;
}

.right-side{
  width: 100%;
}


#flipList-container{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  background-color: lightgrey;
  border: 2px solid blue;
}

#flipList-archive{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

#flipList-last-three{
  display: flex;
  flex-direction: row;
  width: 191px;
  justify-content: flex-start;
  background-color: yellow;
}

.player{
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

#player-1{
  background-image: linear-gradient(to right, darkgrey , red);
}

#player-2{
  background-image: linear-gradient(to right, darkgrey , blue);
}

.winning-set{
  display: flex;
  flex-direction: row;
}

.player-text{
  color: white;
  padding-left: 100px;
}

#current-flip-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#current-flip{

}

.coin{
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: flex; /* or inline-flex */
  align-items: center; 
  justify-content: center;
  margin: 2px;
  border: 1px darkgrey solid;
  font-weight: 800;
}

.heads{
  background-color: black;
  color: white;
}

.tails{
  background-color: white;
  color: black;
}

#button-bar{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; 
}

button{
  background-color: blue;
  color: white;
  height: 80px;
  width: 220px;
  margin: 20px 20px;
  border-radius: 10px;
  border: white 2px solid;
}

#startSimBtn{
  background-color: red;
}

#flip-list-stats-box{
  background-color: lightgrey;
  color: blue;
  border: 2px solid pink;
  padding: 15px;
  margin: 10px;
  
}

#stats-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; 
}

.statistics{
  border: blue solid 2px;
  background-color: white;
  height: 300px;
  border-radius: 15px;
  width: 100%;
  padding: 10px;
  margin: 10px;
}

.stats-line {
  padding: 0 20px;
  font-size: larger;
  background-color: white;
}

#current-game-head-and-tail-counts{
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}